$text-color: #4d4343;
$green: #62b89e;
$date_grey: rgb(167, 166, 166);

$blue: #8080dd;//bg
$btn_blue: rgb(24, 214, 251);
$lighter_green: #9ce78d;
$orange: #ff8000; //#ea7c37
$light_orange: #fba968;
$dark_orange: #c83200;
$light_blue: #b7b7fa;

$pink: #e77a99;
$teal: #0e9797;
$red: #f83d04;
$pastel_blue: #4682b4;
$purple:  #c672c2;
$deep_blue: rgb(17, 0, 255);

//color
.blue {
  .bar {
    background-color: $pastel_blue;
  }
  .sender {
    color: $pastel_blue;
  }
}
.red {
  .bar {
    background-color:$red ;
  }
  .sender {
    color: $red;
  }
}
.green {
  .bar {
    background-color: $green;
  }
  .sender {
    color: $green;
  }
}
.orange {
  .bar {
    background-color: $dark_orange;
  }
  .sender {
    color: $dark_orange;
  }
}
.teal {
  .bar {
    background-color: $teal;
  }
  .sender {
    color: $teal;
  }
}
.purple {
  .bar {
    background-color:$purple;
  }
  .sender {
    color: $purple;
  }
}
.deep-blue {
  .bar {
    background-color:$deep_blue;
  }
  .sender {
    color: $deep_blue;
  }
}
.pink {
  .bar {
    background-color: $pink;
  }
  .sender {
    color: $pink;
  }
}
