/*colors*/

/* .blue .sender {
  color: #42e6dd;
}
.red .sender {
  color: #e77a99;
}
.green .sender {
  color: #cdfa84;
}
.orange .sender {
  color: #ea7c37;
}
.brown .sender {
  color: #7d6c4d;
}
.purple .sender {
  color: #c672c2;
} */
