@import "./color";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

@keyframes arrow-up {
  0% {
    transform: rotate(250deg) translateX(2px);
  }
  50% {
    transform: rotate(250deg) translateX(5.5px);
  }
  100% {
    transform: rotate(250deg) translateX(1px);
  }
}
@keyframes arrow-down {
  0% {
    transform: rotate(70deg) translateX(2px);
  }
  50% {
    transform: rotate(70deg) translateX(5.5px);
  }
  100% {
    transform: rotate(70deg) translateX(1px);
  }
}

.messaging {
  header {
    padding: 30px 20px 10px 30px;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-box {
      padding-right: 10px;
      img {
        width: clamp(50px, 14%, 100px);
      }
    }
    .users {
      position: relative;
      display: flex;
      justify-content: center;
      .me {
        padding-right: 0;
        padding: 0;
        display: flex;
        align-items: center;
        p {
          font-weight: bold;
          color: rgb(255, 255, 255);
        }
        div {
          margin-left: 2px;
          position: relative;
          top: 3px;
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
      ::-webkit-scrollbar {
        width: 7px;
      }
      ::-webkit-scrollbar-thumb {
        background: rgba(37, 37, 37, 0.363);
        border-radius: 15px;
      }
      .others {
        position: absolute;
        background-color: white;
        top: 125%;
        right: -15px;
        z-index: 2;
        box-shadow: 0px 0px 2px 1px rgba(51, 51, 51, 0.178);
        max-height: 50vh;
        overflow-y: scroll;

        li {
          font-size: 0.9rem;
          padding: 10px 16px;
          border-bottom: 1px solid rgba(88, 88, 88, 0.103);

          &:first-child {
            color: grey;
            text-transform: uppercase;
            word-break: nowrap;
            font-size: 0.8rem;
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
  }
  .msg-box {
    padding: 20px 0 5px;
    position: relative;
    .msg-area {
      min-height: 67vh;
      padding-bottom: 10px;
      background-color: #fff;
      .date-box {
        background-color: #fff;
        padding: 20px 10px 10px;
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
        position: sticky;
        top: 0;
        div {
          color: $date_grey;
        }
      }
      .text-box {
        min-height: 50px;
        padding: 2px 3px 10px 3px;
        width: -webkit-fill-available;
        display: flex;
        justify-content: flex-start;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        &:active,
        &:focus {
          .bar {
            width: calc(3px + clamp(10px, 3%, 30px));
          }
        }
        .bar {
          width: 3px;
          transition: width 0.5s ease-in-out;
          -webkit-transition: width 0.5s ease-in-out;
          -moz-transition: width 0.5s ease-in-out;
          -o-transition: width 0.5s ease-in-out;
        }
        .second {
          width: -webkit-fill-available;
          .dets {
            padding-right: 10px;
            display: flex;
            justify-content: space-between;
            .sender {
              text-transform: uppercase;
              font-size: 12px;
              padding-left: 5px;
              padding-bottom: 2px;
            }
            .time-box {
              text-align: end;
              font-size: 0.7rem;
              font-style: italic;
              .time {
                color: $date_grey;
              }
              img{
               height: 10px;
              }
            }
          }
          .msg-content {
            padding: 0 10px 0 5px;
            word-break: break-all;
            width: 100%;
          }
        }
        // &.red{
        //   text-align: end;
        //   .bar{
        //     order: 2;
        //   }
        //   .second{
        //     order: 1;
        //     .dets{
        //       .sender{
        //         order: 2;
        //       }
        //       .time-box{
        //         order: 1;
        //       }
        //     }
        //   }
        // }
      }
      .no-chat {
        position: absolute;
        p {
          font-size: 1.7rem;
          font-weight: bold;
          color: #8d8d8d;
          // font-family: 'Rubik Dirt', cursive;
        }
        img {
          width: 38px;
        }
        &:first-child {
          right: 6%;
          top: -1%;
          text-align: end;
          img {
            transform: rotate(250deg);
            animation: arrow-up 1s ease-in-out 1s infinite;
          }
        }
        &:last-child {
          display: flex;
          align-items: center;
          bottom: 20%;
          img {
            position: relative;
            top: 20px;
            transform: rotate(70deg);
            animation: arrow-down 1s ease-in-out 1s infinite;
          }
        }
      }
    }
    form {
      background-color: #ffffff;
      text-align: center;
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 2vh 0;
      display: flex;
      justify-content: center;
      border-top: 1px solid rgba(212, 212, 212, 0.171);
      input {
        color: $text-color;
        border: 1px solid rgba(212, 212, 212, 0.479);
        width: 88%;
        padding-left: 4px;
      }
      button {
        padding: 14px 0 8px;
        width: clamp(39px, 5%, 500px);
        background-color: rgba(192, 192, 192, 0.479);
        img {
          width: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .messaging {
    header {
      padding: 20px 10px 10px;
      .more-details {
        max-width: 100px;
        .users .me {
          font-size: 0.9rem;
        }
      }
    }
  }
}
